<<<<<<< HEAD
html, body{
	margin: 0px;
	padding: 0px;

	background: url(pictures/bg.JPG) no-repeat center center fixed;
=======


html, body{
	background: url("piccas/bg.jpg") no-repeat center center fixed;
>>>>>>> origin/master
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;         /* Generic*/

	width: 100%;
<<<<<<< HEAD
	
=======
	margin: 0px;
	padding: 0px;
>>>>>>> origin/master
	height: 98%;
}

#wrapper, #main{
	height: 100%;
	width: 100%;
}

#left, #right, #middle{
	height: 100%;
	padding: 0px;
}

	#logo, #danny, #niels
	{
		position: absolute;  
	    top: 0;  
	    bottom: 0;  
	    left: 0;  
	    right: 0;  

		display: block;
		vertical-align: middle;
		margin: auto;

		text-align: center;
		color: white;
		font-family: "Times New Roman", Times, serif;
		font-size: 100px;
		line-height: 250px;
		font-weight: bold;
		vertical-align: middle;
	}

	#middle #logo{
		
		width: 550px;
		height: 550px;
	}

	#left #danny{
		border-radius: 175px;
		background-color: rgba(0,0,0,0.4);

		width: 250px;
		height: 250px;
	}

	#right #niels{
		border-radius: 200px;
		background-color: rgba(0,0,0,0.4);

		width: 250px;
		height: 250px;
	}