* {
    margin: 0;
}

html, body {
    height: 100%;
}




h1, h2, h3, h4, h5, h6, p {
    margin-bottom: 20px;
    text-align: center

}

::-webkit-scrollbar {
    display: none;
}

nav {
    position: fixed;
    width: 100%;
    height: 30px;
    background-color: rgba(0,0,0,.5);
    z-index: 99;
}

nav a{
    text-decoration:none;
    margin-left: 30px;
    font-family:'nordicahl';
    line-height: 35px;
    color: white;
   
}


#logo-hoofd{
   display: none;
   height: 250px;
    width: 250px;
}

nav a:hover {
    
    color: grey;
}

.div-wrapper {
    position: relative;
    height: 55%;
    width: 300px;
}

.div-wrapper img {
    position: absolute;
    left: 0;
    bottom: 0;
}

.uilfoto {
    margin-top: 80%;
}

#uil{
    display: none;
    height: 230px;
    width: 250px;
    
   
    vertical-align: baseline;

}

.sect {
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.subSection {
    height: 50%;
    background-color: black;

}

.sectOne {
    background-image: url("Images/image1blur.jpg");


}

.sectTwo {
    background-image: url("Images/image2blur.jpg");
}

.sectThree {
    background-image: url("Images/image3blur.png");
}

.sectFour {
    background-color: #7DE6C3;
}

.footer {

}

.title {
    display: none;
}

#titlemain{
    position: fixed;
    margin-top: 18%;
    color: black;
    font-family: 'nordicahl';
    font-size: 120px;

}

.titles{
    text-align: center;
    color: white;
    font-family: 'nordicahl';
    font-size: 110px;


}

#bio {
    padding: 20px;
    margin-bottom: 5%;
    color: white;
    font-family: 'nordicahl';
    font-size: 20px;
   
    
}

 #biocontainer {
    background-color: rgba(0,0,0,.5);
    margin-right: 20%;
    margin-left: 20%;
    text-align: center;
    margin: auto;
    width: 750px;
    height: 100%;
}

.footer{
    padding-top: 10px;
    height: 120px;
}

.Center-Container {
  position: relative;
}

.Absolute-Center {
  width: 50%;
  height: 50%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

@font-face {
    font-family: 'nordicahl';
    src: url('fonts/NordicaHairline.otf') format('truetype');
}

.centertable {
    display: block;
    margin: 0 auto;
}

.footer p{
    color: white;
    font-family: 'nordicahl';
}

.Absolute-Center-title {
  height: 50%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

#gallery{
    margin-top: 5%;
    background-color: rgba(0,0,0,.5);
}


#gallery img {    
    margin: auto;
    height:180px;
    width: 180px;
}

 .fix{
    position:fixed;
    bottom:0px;
    }

.centerhoofd {
    height: 250px;
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.poppetje {
    position: relative;
    height: 100%;
    width: 300px;
    float: left;
}

.poppetje img {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 603px;
    width:  448px;
   }

div#load_screen{
    background: #66ceff;
    opacity: 1;
    position: fixed;
    z-index:10;
    top: 0px;
    width: 100%;
    height: 1600px;
}
div#load_screen > div#loading{
    color:#66ceff;
    margin-left: auto;
   margin-right: auto;
}

#loadcat{
        margin-top: 15%;
    margin-left: 25%;
   width: 800px;
   height: 400px;

}